---
layout: default
---

<h1 class="content">{{page.title}}</h1>
<p class="subtitle">{{page.subtitle}}</p>

<img src="{{ page.image }}" />

{{ content }}

<nav class="page-tools">
<ol>
  <li><a title="View the page history on GitHub" href="https://github.com/a2comunicacao/metodologia/commits/master{{ page.url | replace:'.html','.md' }}">Page history</a>
  <li><a title="View and suggest changes to the page source on GitHub" href="https://github.com/a2comunicacao/metodologia/blob/master{{ page.url | replace:'.html','.md' }}">Page source</a>
</ol>
</nav>
